#queue {
  width: 175px;
  margin-left: 10px;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

td {
  vertical-align: top;
}

/* set the stype of the titles */
#queue p {
  margin: 0px 0px 0px 0px;
}

/* STYLE FOR BLOCK QUEUE */

#queue > div {
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
}

#block-queue {
  background-color: #C83770;
}

#block-queue > div {
  height: 50px;
}

#block-queue > p {
  text-align: center;
}

#my-position {
  background-color: #D35FBC;
  text-align: center;
}


/* format the 1st, 2nd, ... entries */
.position {
  float: right;
  margin-right: 10px;
  /* make the position number vertical centered */
  margin-top: 10px;
}

/* NAME TEXTBOX STYLING */

.textbox-wrapper > span {
    display: block;
    overflow: hidden;
}

.textbox-wrapper > span > input {
    width: 100%;
    font-size: 1em;
}

.textbox-wrapper {
    padding: 0px !important;
}

/* TETRIS BLOCK STYLING */

/* set the styling for the different blocks */
.tetris-block div {
  width: 20px;
  height: 20px;
}

.tetris-block {
  margin: 10px;
  border-spacing: 0px;
}

.tetris-block td {
  padding: 0px;
}

.i-block div {
  background-color: lightblue;
}

.j-block div {
  background-color: blue;
}

.l-block div {
  background-color: orange;
}

.o-block div {
  background-color: yellow;
}

.s-block div {
  background-color: lightgreen;
}

.t-block div {
  background-color: purple;
}

.z-block div {
  background-color: red;
}
