/* The Modal (background) */
#splash {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,1); /* Black w/ opacity */
}

#splash h1 {
    /* font-family: "Courier New", Courier, monospace; */
    font-size: 50px;
    color: black;
}

/* Modal Content/Box */
#splash .content {
  /* background-color: rgb(173, 216, 230); */
  margin: auto; /* 15% from the top and centered */
  margin-top: 30px;
  padding: 20px;
  /* border: 1px solid #888; */
  width: 40%; /* Could be more or less, depending on screen size */
  text-align: center;
}

#splash .splash-controls {
    padding-top: 20px;
}

#play {
    margin-right: 20px;
}

#title {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    margin-top: 80px;
}

.tetris-block-large div {
  width: 40px;
  height: 40px;
}

.tetris-block-large {
  margin: 10px;
  border-spacing: 0px;
}

.tetris-block-large td {
  padding: 0px;
}

/* #splash table {
    display: inline;
} */

/* NAME TEXTBOX STYLING */


#name-textbox {
    width: 225px;
    font-size: 1em;
    padding: 3px;
    margin: 10px;
    margin-top: 20px;
}
